@{
    ViewBag.Title = "Политика конфиденциальности";
}
<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<div class="blog__post">
    <div class="blog__hightlight">
        <p>
            Предоставляя свои персональные данные Пользователь даёт согласие на&nbsp;обработку, хранение и&nbsp;использование своих персональных данных на&nbsp;основании ФЗ №&nbsp;<nobr>152-ФЗ</nobr> «О&nbsp;персональных данных» от&nbsp;27.07.2006&nbsp;г.&nbsp;в&nbsp;следующих целях:
        </p>
        <ul>
            <li>Автоматическое востанновление забытого пароля</li>

        </ul>
        <p>
            Под персональными данными подразумевается информация личного характера такая как:
        </p>
        <ul>
            <li>Адрес электронной почты</li>
        </ul>
        <p>
            Персональные данные Пользователей хранятся исключительно на&nbsp;электронных носителях и&nbsp;обрабатываются с&nbsp;использованием автоматизированных систем, за&nbsp;исключением случаев, когда неавтоматизированная обработка персональных данных необходима в&nbsp;связи с&nbsp;исполнением требований законодательства.
        </p>
        <p>
            Проект обязуется не&nbsp;передавать полученные персональные данные третьим лицам, за&nbsp;исключением следующих случаев:
        </p>
        <ul>
            <li>По&nbsp;запросам уполномоченных органов государственной власти&nbsp;РФ только по&nbsp;основаниям и&nbsp;в&nbsp;порядке, установленным законодательством РФ</li>
        </ul>
        <p>
            Когда вы посещаете этот сайт проект может использовать общеотраслевую технологию, называемую cookie.
            Файлы cookie представляют собой небольшие фрагменты данных, которые временно сохраняются на вашем компьютере или мобильном устройстве и обеспечивают более эффективную работу сайта.
            На данном проекте cookie используются для автологина.
        </p>
    </div>
</div>
